// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
	width: 800px;
	margin: 0px auto;
}

.btn{
	padding: 1px 10px;
}

input{
	display: block;
	margin-bottom: 10px;
}