<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/times.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
		<script src="./javascripts/jquery.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			function get_time(date)
			{
				var hour = date.getHours();
				var minute = date.getMinutes();
				var am_pm = "am";

				if(hour >= 13)
				{
					hour -= 12;
					am_pm = "pm";
				}
				else if(hour == 12)
					am_pm = "pm"
				else if(hour == 0)
					hour = 12;

				if(minute < 10)
					minute = "0"+minute;

				return hour+":"+minute+" "+am_pm;
			}

			$("#time").text(get_time(new Date()));

			io = io.connect();

			io.emit("get_user_info");

			io.on("user_info", function(data){
				$("#left_panel p:first-of-type").text(data.user_name);
				$("#left_panel p:first-of-type").attr("id", data.user_id);

				for(var index in data.other_online_users)
				{
					if(data.other_online_users[index].user_id != $("#left_panel p:first-of-type").attr("id"))
					{
						$("#left_panel ul").append("<li id='"+data.other_online_users[index].user_id+"'><img><p>"+data.other_online_users[index].user_name+"</p></li>");
					}
				}

				io.emit("check_last_clock_record", {user_id: $("#left_panel p:first-of-type").attr("id")});
				io.emit("get_user_clock_records", {user_id: $("#left_panel p:first-of-type").attr("id")});
			});

			io.on("new_user", function(data){
				$("#left_panel ul").append("<li id='"+data.user_id+"'><img><p>"+data.user_name+"</p></li>")
			});

			io.on("clock_record_form_values", function(data){
				$(".btn").attr("value", data.clock_button_value);
				$("textarea").attr("placeholder", data.description);
			});

			io.on("user_clock_records", function(data){
				var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
				var clock_in_time = 0;
				var clock_out_time = 0;

				if(data.user_activities[0].clock_in_time)
				{
					console.log(data.user_activities);
					d = data.user_activities[0].clock_in_time.split(/[- :]/);
					date = month[d[1]-1]+" "+d[2][0]+d[2][1]+", "+d[0];

					if(data.user_activities[0].description)
						$("table tbody").append("<tr><td>"+data.user_activities[0].description+"</td><td></td><td>"+date+"</td></tr>");
					else
						$("table tbody").append("<tr><td>Clocked in.</td><td></td><td>"+date+"</td></tr>");

					console.log(data.user_activities[0]);
					delete data.user_activities[0];
					console.log(data.user_activities);
					console.log(data.user_activities[0]);
				}

				for(var index in data.user_activities)
				{
					if(data.user_activities[index].clock_in_time)
					{
						d = data.user_activities[index].clock_in_time.split(/[- :]/);
						clock_in_time = d[2][3] + d[2][4] + d[3] + d[4][0] + d[4][1];
					}
					else
					{
						d = data.user_activities[index].clock_out_time.split(/[- :]/);
						clock_out_time = d[2][3] + d[2][4] + d[3] + d[4][0] + d[4][1];
					}
					
					date = month[d[1]-1]+" "+d[2][0]+d[2][1]+", "+d[0];

					if(data.user_activities[index].description)
						description = data.user_activities[index].description;

					if(clock_in_time != 0 && clock_out_time != 0)
					{
						time_difference = (clock_in_time - clock_out_time)/-10000;
						Number.prototype.round = function(places) {
							return +(Math.round(this + "e+" + places)  + "e-" + places);
						}
						hours = time_difference.round(0);
						minutes = (((time_difference - hours)*100)/60).round(2);
						hours_spent = hours+minutes;
						clock_in_time = 0;
						clock_out_time = 0;

						$("table tbody").append("<tr><td>"+description+"</td><td>"+hours_spent+"h</td><td>"+date+"</td></tr>");
					}
				}
			});

			$("#clock_in").submit(function(e){
				e.preventDefault();
				
				if($(".btn").val() == "Clock-in")
					clock_value = "clock-in";
				else
					clock_value = "clock-out";

				io.emit("new_clock_record", {
					user_id: $("#left_panel p:first-of-type").attr("id"),
					user_name: $("#left_panel p:first-of-type").val(),
					description: $("#description").val(),
					clock_in_or_out: clock_value
				});
			});

			io.on("user_success", function(data){
				if(data.clock_value == "clock_in_time")
					alert("Successfully clocked in!");
				else
					alert("Successfully clocked out!");

				io.emit("check_last_clock_record", {user_id: $("#left_panel p:first-of-type").attr("id")});
				io.emit("get_user_clock_records", {user_id: $("#left_panel p:first-of-type").attr("id")});
			});

			$("#logout").click(function(e){
				e.preventDefault();
				io.emit("logout", {user_id: $("#left_panel p:first-of-type").attr("id")});
			});

			io.on("user_logged_out", function(data){
				$("#"+data.user_id).remove();
			});

			io.on("redirect_to_index", function(data){
				window.location.replace(data.url);
			})
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="left_panel" class="pull-left">
			<img src="">
			<p></p>
			<h5>Online Villagers</h5>
			<ul class="list-unstyled"></ul>
		</div>
		<div id="main_contents" class="pull-right">
			<form id="clock_in">
				<textarea id="description" class="pull-left form-control"></textarea>
				<div class="pull-right">
					<input type="submit" class="btn btn-primary" />
					<label id="time"></label>
				</div>
				<div class="clearfix"></div>
			</form>

			<ul class="list-inline">
				<li><a href="/wall">Wall</a></li>
				<li><a href="/profile" id="active">Profile</a></li>
				<li><a href="" id="logout">Logout</a></li>
				<div class="clearfix"></div>
			</ul>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Task</th>
						<th>Hours Spent</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</body>
</html>