<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Wall</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/times.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<script src="./javascripts/jquery.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			function get_time(date)
			{
				var hour = date.getHours();
				var minute = date.getMinutes();
				var am_pm = "am";

				if(hour >= 13)
				{
					hour -= 12;
					am_pm = "pm";
				}
				else if(hour == 12)
					am_pm = "pm"
				else if(hour == 0)
					hour = 12;

				if(minute < 10)
					minute = "0"+minute;

				return hour+":"+minute+" "+am_pm;
			}

			setInterval(function(){
			    $("#time").text(get_time(new Date()));
			}, 1000);

			io = io.connect();

			io.emit("get_user_info");
			io.emit("get_clock_records");

			io.on("user_info", function(data){
				$("#left_panel img:first-of-type").attr("src", data.photo_url);
				$("#left_panel p:first-of-type").text(data.user_name);
				$("#left_panel p:first-of-type").attr("id", data.user_id);


				for(var index in data.all_online_users)
				{
					if(data.all_online_users[index].user_id != $("#left_panel p:first-of-type").attr("id"))
					{
						$("#left_panel ul").append("<li id='"+data.all_online_users[index].user_id+"'><img src='"+data.all_online_users[index].photo_url+"'><p>"+data.all_online_users[index].user_name+"</p></li>");
					}
				}

				io.emit("check_last_clock_record", {user_id: $("#left_panel p:first-of-type").attr("id")});
			});

			io.on("new_user", function(data){
				$("#left_panel ul").append("<li id='"+data.user_id+"'><img src='"+data.photo_url+"'><p>"+data.user_name+"</p></li>");
			});

			io.on("clock_record_form_values", function(data){
				$(".btn").attr("value", data.clock_button_value);
				$("textarea").attr("placeholder", data.description);
			});

			io.on("clock_records", function(data){
				for(var index in data.clock_records)
				{					
					if(data.clock_records[index].clock_in_time)
					{
						time = new Date(data.clock_records[index].clock_in_time);

						if(data.clock_records[index].description)
							description = "clocked in a task: \"" + data.clock_records[index].description + "\"";
						else
							description = "has clocked in.";
					}
					else
					{
						time = new Date(data.clock_records[index].clock_out_time);
						
						if(data.clock_records[index].description)
							description = "clocked out a task: \"" + data.clock_records[index].description + "\"";
						else
							description = "has clocked out.";
					}

					$("#clock_activities ul").append("<li><p><span class='text-primary'>"+get_time(time)+"</span> "+"<span class='space'></span>"+data.clock_records[index].first_name+" "+description+"</p></li>");
				}
			});

			$("#clock_in").submit(function(e){
				e.preventDefault();
				if($(".btn").val() == "Clock-in")
					clock_value = "clock-in";
				else
					clock_value = "clock-out";

				io.emit("new_clock_record", {
					user_id: $("#left_panel p:first-of-type").attr("id"),
					user_name: $("#left_panel p:first-of-type").val(),
					description: $("#description").val(),
					clock_in_or_out: clock_value
				});
			});

			io.on("clock_record_success", function(data){
				window.location.replace("/wall");
			});

			io.on("user_logged_out", function(data){
				$("#"+data.user_id).remove();
			});
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="left_panel" class="pull-left">
			<img id="user_img" src="">
			<p></p>
			<h5>Online Villagers</h5>
			<ul class="list-unstyled"></ul>
		</div>
		<div id="main_contents" class="pull-right">
			<form id="clock_in">
				<textarea id="description" class="pull-left form-control"></textarea>
				<div class="pull-right">
					<input type="submit" class="btn btn-primary" />
					<label id="time"></label>
				</div>
				<div class="clearfix"></div>
			</form>

			<ul class="list-inline">
				<li><a href="/wall" id="active">Wall</a></li>
				<li><a href="/profile">Profile</a></li>
				<div class="clearfix"></div>
			</ul>

			<div id="clock_activities">
				<ul class="list-unstyled"></ul>
			</div>
		</div>
	</div>
</body>
</html>