body {
  padding: 20px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper{
	width: 500px;
	margin: 0px auto;
}

#message_board{
	width: 500px;
	height: 500px;
	padding: 5px 5px;
	border: 1px solid black;
	margin: 10px 0px;
}

p{
	margin: 0px;
	padding: 0px;
}