*{
	margin: 0px;
	font-family: arial, serif;
}

#wrapper{
	width: 1000px;
	margin: 0px auto;
	background-color:#F7FFFE;
	padding: 30px;
	border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #DCF2EF;
}

.clear{
	clear: both;
}

#register{
	width: 300px;
	background-color:#FFF;
	padding: 20px;
	border: 1px solid gray;
	margin: 50px auto;
}

#register ul li{
	list-style: none;
	padding: 10px 0px;
}

input[type="submit"], #restore{
	float: right;
	color:#009E4A;
	background-color: lightgreen;
	padding: 3px 10px;
	border-radius: 5px;
	border:1px solid limegreen;
}

h1{
	float: right;
}

strong{
	color:#1CAD89;
}

#show_hide .container{
	float: left;
	border:1px solid gray;
	width: 200px;
	height: 220px;
	margin: 5px 15px;
}

#show_hide img{
	width: 190px;
	height: 210px;
	padding: 5px;
}

#drag_change .container{
	width: 400px;
	padding: 10px;
	border: 1px solid #000;
	margin: 25px;
	float: left;
}

#drag_change img{
	width: 340px;
	height: 75px;
	padding: 0px 30px;
}