#wrapper{
	font-size: .85em;
	width: 800px;
	margin: 0px auto;
}

.clear{
	clear: both;
}

#name_address{
	float: left;
}

label{
	display: block;
	margin-top: 10px;
}

input[type="submit"]{
	float: right;
}