#wrapper{
	font-size: .85em;
	width: 800px;
	margin: 0px auto;
}

.clear{
	clear: both;
}

label{
	display: block;
	margin-top: 10px;
}

#check_in_out p{
	color: gray;
	font-size: .8em;
	display: inline;
}

input[type="submit"]{
	float: right;
}