<% content_for :title do %>Display all users<% end %>

<div id="wrapper">
	<h1>Users</h1>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>