<div id="wrapper">
	<h3>Add new Product</h3>
	<form action="/products/create" method="post">
		<label for="name">Name:</label>
		<input type="text" name="name" id="name" />
		<label for="description">Description:</label>
		<input type="text" name="description" id="description" />
		<label for="pricing">Pricing:</label>
		<input type="text" name="pricing" id="pricing" />
		<input type="submit" class="btn btn-primary" />
	</form>
</div>
