<html>
	<head>
		<title>Survey Result</title>
	</head>
	<body>
		<p><strong>Submitted Information:</strong></p>
		<ul>
			<li>Name: <strong><%= user_data.name %></strong></li>
			<li>Dojo Location: <strong><%= user_data.dojo_location %></strong></li>
			<li>Favorite Language: <strong><%= user_data.favorite_language %></strong></li>
			<li>Comment: <strong><%= user_data.comment %></strong></li>
		</ul>
		<a href="/">Go Back</a>
	</body>
</html>