// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
	width: 800px;
	margin: 0px auto;
}

label{
	margin-top: 10px;
}

.btn{
	margin-top: 10px;
}