#wrapper{
	width: 300px;
	margin: 0px auto;
}

h1{
	text-align: center;
}

.btn{
	width: 100%;
}

#message{
	background-color:rgba(255,0,0,0.5);
	text-align: center;
	width: 250px;
	padding: 5px;
	margin: 10px auto;
	border: 3px solid #A80000;
}

img{
	height: 45px;
	width: 45px;
	border: 1px solid black;
	margin: 15px 0px 0px 1px;
}