// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
	font-family: Arial;
	width: 800px;
	margin: 0px auto;
}